<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/index">
		<!-- <img class="rounded-circle" src="" alt="" width="30" height="30"> -->
		<h1>F.I.T.Fam</h1>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/account_summary">Summary</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/account_awards">Awards</a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="/account">Profile</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
