
<% include ../partials/header %>
	<% if (messages) { %>
		<% if (messages.success != '') {%>
			<div class="font-weight-bold text-center alert alert-success alert-dismissible" role="alert">
				<%= messages.success %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<% } %>
	<% } %>
	<div id="wrapper" class="container">
		<div class="row p-2">
		<div id="content" class="col">
			<div class="heading">
			<p class="lead">Welcome to</p>
			<h1>Fit F.A.M. <br>
			<small class="text-muted">(Fighting Against My Own Laziness)</small></h1>
			</div>
		</div>
		<div id="formCol"class="col">
			<div id="formArea">
			<form action="/login" method="post">
			  <div class="form-group">
			    <label for="userEmail">Email address</label>
			    <input type="email" class="form-control" id="userEmail" name="username" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="userPassword">Password</label>
			    <input type="password" class="form-control" id="userPassword" name="password" placeholder="Enter password">
			  </div>
				<% if (messages) { %>
					<%if (messages.failure != '') {%>
						<div class="alert alert-danger" role="alert">
							<%= messages.failure %>
						</div>
					<% } %>
				<% } %>
			  <button id="logInBtn" type="submit" class="btn btn-primary btn-block mx-auto">Log In</button>
			</form>
			<p class="text-center">or <a href="/register">create an account</a></p>
			</div>
		</div>
		</div>
	</div>
</body>
</html>
